

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="cartItems.length >0">
          
            <table class="table table-bordered">
                <tr>
                    <th width="30%">Product Image</th>
                    <th width="50%">Product Detail</th>
                    <th width="20%"></th>
                </tr>

                <tr *ngFor="let tempCartItem of cartItems">
                    <td>
                        <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />

                    </td>
                    <td>
                        <p>{{ tempCartItem.name }}</p>
                        <p>{{ tempCartItem.description }}</p>
                        <p>{{ tempCartItem.unitPrice | currency: 'USD' }}</p>
                    </td>
                    <td>
                        <div class="items">
                            <label style="display: inline-block;">Quantity:</label>
                            <div style="display: inline-block;" class="col ml-4 mr-2">
                                {{ tempCartItem.quantity }}
                            </div>

                            <div class="row no-gutters">
                                <div class="col">
                                    <button style="width: 2em;"  (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                        <i class="fas fa-plus">+</i>
                                    </button>
                                </div>

                              

                                <div class="col">
                                    <button style="width: 2em;" (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                        <i class="fas fa-minus">-</i>
                                    </button>
                                </div>
                                <div class="col-8"></div>

                            </div>

                        </div>
                        <div>
                            <button style="width: 6.5em;" (click)="remove(tempCartItem)" class="btn btn-primary btn-sm">Remove</button>
                        </div>
                      
                        <p class="mt-2">Subtotal: {{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'USD' }}</p>
                    </td>
                </tr>

            </table>
            <tr>
                <td colspan="2"></td>
                <td style="font-weight: bold">
                
                </td>
            </tr>

            <div style="text-align: center;height: 20em;">

                <h4>Total Quantity: {{ totalQuantity }}</h4>
                <h6>Shipping: FREE</h6>
                <h6>Total Price: {{ totalPrice | currency: 'USD' }}</h6>
        
                <div style="display: inline-block;margin-top: 1em;">
                    <button style="width: 9em;height: 3em;" (click)="createCart()" class="btn btn-primary btn-sm">Save</button>
                </div>


                <div style="display: inline-block;margin-left: 1em;">
                    <a style="height: 2.6em; border-color: blue;" routerLink="/checkout" class="btn btn-fix">Checkout</a>
                </div>
                
            </div>

            </div>
        <!-- if cart is empty then display a messasge-->
        <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
            Your shopping cart is empty.
        
        </div>
    </div>
</div>